<div class="container-fluid pt-5">
    <div class="row">
        <div class="col-12 text-center">
            <div class="description-box">
                <h1>Humberto Matias Fernandes da Silva</h1>
                <p>Web Developer</p>
            </div>
        </div>
    </div>
    <div class="row abt-me mt-5">
        <div class="col-2">
            <div class="d-flex justify-content-center">
                <img src="assets/images/profile.jpg" class="img-fluid border-round" alt="Profile photo.">
            </div>
        </div>
        <div class="col-10">
            <div class="description-abtme">
                <div class="description-abtme-col">
                    <h3>ARQUIVO JSON.aboutMe</h3>
                    <p>ARQUIVO JSON.aboutMeDescription Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis augue nec ligula molestie egestas. Mauris molestie quis enim non accumsan. Suspendisse quis aliquet felis. Nam suscipit diam erat, id gravida odio posuere vitae. Maecenas at diam facilisis, faucibus dui quis, vestibulum odio. Vestibulum </p>
                </div>
            </div>
        </div>
    </div>
</div>