<section class="container-fluid pt-5">
    <div class="row">
        <div class="col-12 text-center">
            <div class="description-box">
                <h1>Humberto Matias Fernandes da Silva</h1>
            </div>
        </div>
    </div>
    <div class="row abt-me mt-4">
        <div class="col-2">
            <div class="d-flex justify-content-center">
                <img src="assets/images/profile.jpg" class="img-fluid border-round" alt="Profile photo.">
            </div>
        </div>
        <div class="col-10">
            <div class="description-abtme">
                <div class="description-abtme-col">
                    <h3>ABOUT ME</h3>
                    <p> System Analysis and Development graduate, organized and detail-oriented seeking an entry-level position as Backend or Frontend.<br>
                        I have participated in exclusive studying programs such as Hackatruck from IBM Brazil and Aoyama Gakuin exchange student program in Japan. </p>
                </div>
            </div>
        </div>
    </div>
</section>