<section class="container side-info">
    <div class="row">
        <div class="col-12">
            <h3>CONTACT</h3>
            <p>Phone +55(11)12345-1234</p>
            <p>Email abc@abc.com</p>
            <p>São Bernardo do Campo - São Paulo</p>
        </div>
        <div class="col-12 mt-4">
            <h3>EDUCATION</h3>
            <small>2019 - 2020</small>
            <small>
                <p class="mb-0"><strong>SYSTEM ANALISIS AND DEVELOPMENT</strong></p>
            </small>
            <small>Universidade Metodista de São Paulo</small>
        </div>
        <div class="col-12 mt-4">
            <h3>SKILLS</h3>
            <p class="mb-0"><small>• HTML 5 </small></p>
            <p class="mb-0"><small>• Java </small></p>
            <p class="mb-0"><small>• Angular </small></p>
            <p class="mb-0"><small>• Github </small></p>
            <p class="mb-0"><small>• Gitflow </small></p>
        </div>
    </div>
</section>