<section class="container side-info">
    <div class="row">
        <div class="col-12">
            <h3>
                <fa-icon [icon]="['fas', 'id-card']"></fa-icon> CONTACT
            </h3>
            <p>
                <fa-icon [icon]="['far', 'envelope']"></fa-icon><small> abc@abc.com</small>
            </p>
            <p>
                <fa-icon [icon]="['fas', 'globe-americas']"></fa-icon><small> São Bernardo do Campo - São Paulo</small>
            </p>
        </div>
        <div class="col-12 mt-4">
            <h3>
                <fa-icon [icon]="['fas', 'university']"></fa-icon> EDUCATION
            </h3>
            <div class="degree">
                <small>2019 - 2020</small>
                <small>
                    <p class="mb-0"><strong>SYSTEM ANALISIS AND DEVELOPMENT</strong></p>
                </small>
                <small>Universidade Metodista de São Paulo</small>
            </div>
        </div>
        <div class="col-12 mt-4">
            <h3>
                <fa-icon [icon]="['fas', 'atlas']"></fa-icon> LANGUAGES
            </h3>
            <ul class="col-12">
                <li>Portuguese</li>

                <li>English</li>
                <li>Japanese</li>
            </ul>
        </div>
        <div class="col-12 mt-4">
            <h3>
                <fa-icon [icon]="['fas', 'book']"></fa-icon> SKILLS
            </h3>
            <ul class="col-12">
                <li>HTML 5</li>
                <li>Java</li>
                <li>Angular</li>
                <li>Github</li>
                <li>Gitflow </li>
            </ul>
        </div>
    </div>
</section>