<h3 class="mb-4">
    <fa-icon [icon]="['fas', 'building']"></fa-icon> WORK EXPERIENCE
</h3>
<!-- Aoyama -->
<div class="col-12 work-section">
    <div class="experience">
        <div class="period col-1 border-right border-secondary">
            <small>
                <p class="mb-0">2018</p>
                <p class="mt-1">2019</p>
            </small>
        </div>
        <div class="col-11">
            <p class=" mb-0"><strong>Chat Leader</strong></p>
            <small>
                <p class="mb-0">Aoyama Gakuin University | Tokyo - Japan</p>
            </small>
        </div>
    </div>
    <div class="mt-3 job-description">

        <p><strong> Manage discussions in english, searching for an development of previously selected topics or free topics, with students of Aoyama Gakuin University or residents of Sagamihara Region (Tokyo).</strong></p>

        <ul class="col-12">
            <li>Manage discussions</li>
            <li>Work with a flexible schedule</li>
            <li>Encouragement of different publics to talk in a foreign language</li>
        </ul>

    </div>
</div>
<!-- Diamond -->
<div class="col-12 work-section">
    <div class="experience">
        <div class="period col-1 border-right border-secondary">
            <small>
                <p class="mb-0">2013</p>
                <p class="mt-1">2014</p>
            </small>
        </div>
        <div class="col-11">
            <p class=" mb-0"><strong>Import Intern</strong></p>
            <small>
                <p class="mb-0">Diamond Brasil | São Paulo - Brazil</p>
            </small>
        </div>
    </div>
    <div class="mt-3 job-description">

        <p><strong> Responsible for quoting, making new orders and follow up of current orders.</strong></p>

        <ul class="col-12">
            <li>Quote orders</li>
            <li>Contact providers in China and India</li>
            <li>Participation in fairs and exhibitions related to reciclying</li>
        </ul>

    </div>
</div>

<h3 class="mb-4">
    <fa-icon [icon]="['fas', 'university']"></fa-icon> ACADEMIC EXPERIENCE
</h3>
<div class="col-12 academic-section">
    <div class="experience">
        <div class="period col-1 border-right border-secondary">
            <small>
                <p class="mb-0">2018</p>
                <p class="mt-1">2019</p>
            </small>
        </div>
        <div class="col-11">
            <p class=" mb-0"><strong>Exchange Student Program </strong></p>
            <small>
                <p class="mb-0">Aoyama Gakuin | Tokyo - Japan</p>
            </small>
        </div>
    </div>
    <div class="mt-3 job-description">
        <small>
            <p><strong>First student to be in an exchange program between Aoyama Gakuin University and Universidade Metodista de São Paulo, in which
                    I have experienced not only the cultural difference, but learned about it and how to relate in an harmonic way with contrasting opinions . </strong></p>

            <ul class="col-12">
                <li>Performed communications tasks including dealing with crowds, sending emails and answering phone calls </li>
                <li>Effectively communicating across cultures</li>
            </ul>
        </small>
    </div>
</div>
<h3 class="mb-4">
    <fa-icon [icon]="['fas', 'people-arrows']"></fa-icon> PREVIOUS WORKS AND SOCIAL
</h3>

<h3 class="mb-4">
    <fa-icon [icon]="['fab', 'github']"></fa-icon>
    <small><a href="https://github.com/BetoMatias"> /BetoMatias</a></small>
    <br>
    <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
    <small><a href="https://www.linkedin.com/in/matiashumberto/"> /matiashumberto</a></small>
</h3>