<div class="col-12 work-section">
    <h3 class="mb-4">
        <fa-icon [icon]="['fas', 'building']"></fa-icon> WORK EXPERIENCE
    </h3>
    <div class="experience">
        <div class="period col-1 border-right border-secondary">
            <small>
                <p class="mb-0">2019</p>
                <p class="mt-1">2020</p>
            </small>
        </div>
        <div class="col-11">
            <p class=" mb-0"><strong>JOB POSITION</strong></p>
            <small>
                <p class="mb-0">Diamond Brasil | São Paulo - Brazil</p>
            </small>
        </div>
    </div>
    <div class="mt-3 job-description">
        <small>
            <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis augue nec ligula molestie egestas. Mauris molestie quis enim non accumsan. Suspendisse quis aliquet felis. Nam suscipit diam erat, id gravida odio posuere vitae. Maecenas at diam facilisis, faucibus dui quis, vestibulum odio. Vestibulum</strong></p>

            <ul class="col-12">
                <li>Do this</li>
                <li>Do that</li>
                <li>Do something</li>
            </ul>
        </small>
    </div>
</div>
<div class="col-12 work-section">
    <h3 class="mb-4">
        <fa-icon [icon]="['fas', 'university']"></fa-icon> ACADEMIC EXPERIENCE
    </h3>
    <div class="experience">
        <div class="period col-1 border-right border-secondary">
            <small>
                <p class="mb-0">2018</p>
                <p class="mt-1">2019</p>
            </small>
        </div>
        <div class="col-11">
            <p class=" mb-0"><strong>PROJECT </strong></p>
            <small>
                <p class="mb-0">Aoyama Gakuin | Tokyo - Japan</p>
            </small>
        </div>
    </div>
    <div class="mt-3 job-description">
        <small>
            <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis augue nec ligula molestie egestas. Mauris molestie quis enim non accumsan. Suspendisse quis aliquet felis. Nam suscipit diam erat, id gravida odio posuere vitae. Maecenas at diam facilisis, faucibus dui quis, vestibulum odio. Vestibulum</strong></p>

            <ul class="col-12">
                <li>Did this </li>
                <li>Did that</li>
                <li>Did something</li>
            </ul>
        </small>
    </div>
</div>